# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Ba Hung Huynh
  email = hung@boutique.tech
[core]
	editor = nvim
[push]
	default = simple
  autoSetupRemote = true
[alias]
  st = status
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg = lg1
